langchain==0.0.101
torch>=2
torchvision>=0.15
gradio==3.20.1
accelerate
addict
albumentations
basicsr
controlnet-aux
diffusers
einops
imageio
imageio-ffmpeg
invisible-watermark
kornia
numpy
omegaconf
open_clip_torch
openai==0.27.1
opencv-python
prettytable
safetensors
streamlit
test-tube
timm
torchmetrics
transformers==4.33.2
peft==0.7.1
webdataset
yapf
icetk
cpm_kernels
SwissArmyTransformer>=0.4.4
bitsandbytes